@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?v5jxhg');
	src:url('fonts/icomoon.eot?#iefixv5jxhg') format('embedded-opentype'),
		url('fonts/icomoon.ttf?v5jxhg') format('truetype'),
		url('fonts/icomoon.woff?v5jxhg') format('woff'),
		url('fonts/icomoon.svg?v5jxhg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logofinal:before {
	content: "\e600";
}
